<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"  th:href="@{/css/books/bookList/bookList.css}">
<link rel="stylesheet"  th:href="@{/css/mypage/youchan.css}">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 

</head>
<body>
<div th:replace="/common/topSideBar.html"></div>
	<h2 class="mb-4" id="main-text">마이페이지</h2>
        <hr><br><br>
        <h5 class="mb-4" id="sub-text">근태조회</h5>
        <br>
	      
   			 
        <div class="checkdiv">
          
          	
          	
			<th:block th:unless="${ attend1[0].attDate.toString == currentDate.toString }">
			  <div style='position: absolute; top: 20px; left: 20%; '>
        		<form action="/attend/checkIn" method="post" id="ckeckForm">
          			<button class="btn btn-outline-info btn-lg" type="button" id="checkIn">출근하자</button>
          		</form>
   			 </div>
   			 </th:block>
   			 <th:block th:if="${ attend1[0].attDate.toString == currentDate.toString }">
   			 <div style='position: absolute; top: 20px; left: 20%;'>
        		<p class='btn btn-info btn-lg'>출근 완료</p>
        	</div>
   			 </th:block>
   			<th:block th:unless="${ attend1[0].attDate.toString == currentDate.toString }">
       		<div style='position: absolute; right: 10%; top: 20px;'>
       		   <p class='btn btn-success btn-lg'>금일 출근 기록이 없습니다.</p>
         	 </div>
          	</th:block>
          	<th:block th:if="${ attend1[0].attDate.toString == currentDate.toString }">
       		<div style='position: absolute; right: 20%; top: 20px;'>
       		   <form action="/attend/checkOut" method="post" id="outForm">
         			 <button class="btn btn-outline-success btn-lg" type="button" id="checkOut">퇴근하자</button> 
        	   </form>
         	 </div>
          	</th:block>
        </div>
        <br><br>

		<!--  검색 창 -->
          <div style="margin-left:35%">
          <form action="/attend/findPage" method="get" style="width:500px; height:300px" id="searchForm">
             <input type="date" class="form-control" style="width:300px" name="attStart" id="startDay">
             <br>
              <input type="date" class="form-control" style="width:300px" name="attEnd" id="endDay">
              <input type="hidden" name="currentPage" value="1">
            <button class="search btn" type="button" id="searchbtn" style="margin-right:60%">검색</button> 
          </form>
        </div>  
        <!-- 검색창 마감 -->
        
        <div style="margin-right:20%;">
          <table id="sampleTable" class="checkTable1" style="margin-top: -1%;">
              <tr>
                <th class="th1">근무일자</th>
                <th class="th1">출근 시간</th>
                <th class="th1">퇴근 시간</th>
              </tr>
              <tr th:if="${#lists.isEmpty(attend)}">
               		    <td class="td1" colspan="4">검색 결과가 존재하지 않습니다.</td>
        	  </tr>
              <tr class="hover" th:each="att : ${ attend }">
                <td th:text="${ att.attDate }"></td>
                <td th:text="${#dates.format(att.attStart, 'HH:mm:ss')}"></td>
                <td th:text="${#dates.format(att.attEnd, 'HH:mm:ss')}"></td>
              </tr>
          </table>
        </div> <!------------------------ 본문 종료---------------------------->
         <br><br><br><br><br><br><br><br><br><br>
       	   <div th:replace="/mypage/attendPaging.html"></div> 
       	   <br><br>
       
        <script>
        
        /* 현재 시간을 구하는 스크립트 */
        $("#checkIn").click(function() {
             let now = new Date();
            // $("h6").text(now); //전체

            let year = now.getFullYear();//연도
            let month = now.getMonth() + 1;//월
            let date = now.getDate();//일
             let hours = ('0' + now.getHours()).slice(-2);
            let minutes = ('0' + now.getMinutes()).slice(-2);
            let seconds = ('0' + now.getSeconds()).slice(-2); 


            let todayString = now.getFullYear() + "-";
            let todayMonth = now.getMonth() + 1;
            if (todayMonth < 10) {
               todayString += "0";
            }
            todayString += todayMonth + "-";
            let todayDate = now.getDate();
            if (todayDate < 10) {
               todayString += "0";
            }
            todayString += todayDate;
            
             todayString += ' ' + ('0' + now.getHours()).slice(-2);
            todayString += ':' + ('0' + now.getMinutes()).slice(-2);
            todayString += ':' + ('0' + now.getSeconds()).slice(-2);  


            $("#wrDate").val(todayString);
            $("#wrDate1").val(todayString);
         });  
        
        /* 검색 시작일이 검색 종료일보다 값이 큰 경우 경곰*/
        $("#searchbtn").click(function(){ 

			let start = $("#startDay").val();
			let end = $("#endDay").val();
			
				
			let startArr = start.split('-');
			let endArr = end.split('-');
				
				
			let startDateCompare = new Date(startArr[0], parseInt(startArr[1])-1, startArr[2]);
			let endDateCompare = new Date(endArr[0], parseInt(endArr[1])-1, endArr[2]);
				
			
			if(startDateCompare.getTime() > endDateCompare.getTime()){
				Swal.fire({
		            icon: 'error',                        
		            title: '입력값을 확인해 주세요',   
		            text: '시작 날짜가 종료 날짜보다 값이 큽니다.', 
		        });
			}else if(($("#startDay").val() !== "")&& ($("#endDay").val() !== "")){
				$("#searchForm").submit();
			}else{
				Swal.fire({
		            icon: 'error',                        
		            title: '입력값을 확인해 주세요',   
		            text: '검색 기능을 실행하기 위해 필수적으로 날짜를 입력해 주셔야 합니다.', 
		        });
			}
			 
		}) 
         
        $().ready(function () {
            $("#checkIn").click(function () {
                Swal.fire({
                    title: '출근 등록을 하시겠습니까?',
                    text: "현재 시각으로 출근 등록을 할 수 있습니다.",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '확인',
                    cancelButtonText: '취소'
                }).then((result) => {
                    if (result.isConfirmed) {
                    	$("#ckeckForm").submit();
                    }
                })
            });
            $("#checkOut").click(function () {
                Swal.fire({
                    title: '퇴근 등록을 하시겠습니까?',
                    text: "현재 시각으로 퇴근 등록을 할 수 있습니다.",
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '확인',
                    cancelButtonText: '취소'
                }).then((result) => {
                    if (result.isConfirmed) {
                    	$("#outForm").submit();
                    }
                })
            });
        });
        const successMessage = "[[${ successMessage }]]";
        if(successMessage){
			Swal.fire({
                icon: 'success',
                title: 'Success!',
                text: '성공적으로 완료되었습니다!',
            })
        }
        </script>
	    
</body>
</html>