<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"  th:href="@{/css/document/HR.css}">
<link rel="stylesheet"  th:href="@{/css/document/Listdetail.css}">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/js/document/inbox.js"></script>
<title>Document docList</title>
</head>
<body>
	<div th:replace="/common/topSideBar.html"></div>
	<script>
		const successMessage = "[[${ insertSuccess }]]";
		if(successMessage){
			 Swal.fire({
	                icon: 'success',
	                title: '성공!',
	                text: '성공적으로 완료되었습니다!',
	            })
		}
		
		const failMessage = "[[${ insertFail }]]";
		if(failMessage){
			 Swal.fire({
	                icon: 'warning',
	                title: '실패',
	                text: '다시 시도해주세요!',
	            })
		}
	</script>
	<h2 class="mb-4" id="main-text">휴가 취소 서류</h2>
        <hr><br><br>


        <!-- 이곳부터 화면구현 시작(샘플 테이블 지우고 구현 시작하시면 됩니다.) -->
        <div style="text-align:-webkit-center; width:80%; margin-left:10%">
          <table id="sampleTable">
              <tr>
                <th class="th1">No</th>
                <th class="th1">문서번호</th>
                <th class="th1">작성일자</th>
                <th class="th1">취소 서류 번호</th>
                <th class="th1">문서상태</th>
              </tr>
              <tr th:if="${#lists.isEmpty(cancelList)}">
              	<td class="td1" colspan="5">신청하신 서류가 존재하지 않습니다.</td>
              </tr>
              <tr class="hover" th:each="canc : ${ cancelList }" th:onclick="'location.href = \'' + @{|/document/cancelVacationDetail/${ canc.vacCancNo }|} + '\''" style="cursor: pointer;">
                <td class="td1" th:text="${cancStat.count}"></td>
                <td class="td1" th:text="${canc.vacCancNo}"></td>
                <td class="td1" th:text="${canc.vacCancDate}"></td>
                <td class="td1" th:text="${canc.vacNo}"></td>
                <td class="td1" th:text="${canc.vacCancStatus}" id="status"></td>
              </tr>
          </table>
          <br><br><br>
          <button type="button" class="insert btn" onclick="location.href='/document/insert'">결재작성</button>
          <br><br><br><br><br><br><br><br><br>
        </div> <!------------------------ 본문 종료---------------------------->
        <script>
        	const status = document.querySelectorAll('table tr td#status');
        	console.log("status"+status);
        	for (let i = 0; i < status.length; i++) {
				if (status[i].innerText=="승인") {
					status[i].style.color = "blue";		
				}
				if (status[i].innerText=="반려") {
					status[i].style.color = "red";		
				}
			}
        </script>
</body>
</html>