#bookInfoTable {
    text-align: center;
}
#bookInfoTable th{
    width: 200px;
    height: 50px;
}
#bookInfoTable td{
    width: 500px;
    height: 50px;
}
#newBookDiv {
    text-align: center !important;
    margin: 10px !important;
}
.newBookBtn {
    margin: 7px !important;
}
.orderBtn {
    text-align: right;
    margin-right: 230px;
}
#sub-text {
    text-align: center;
    margin: 0px !important;
    margin-bottom: 30px !important;
}
.newBookBtn {
    border-radius: 10px;
    background: #c5bfbf;
    border: none;
    height: 37px;
    width: 100px !important;
    font-size: 13px;
}
.newBookBtn:hover {
    background-color: #FEFCC6;
}
.updateInput {
	text-align: center;
}
.btnYn {
	border: 1px solid;
}
.updateInputNo {
	border-style: none;
	cursor: default;
	color: #808080;
}
#sub-a {
	color: #515151;
}